<script>
    $(document).ready(function () {

        LoadTable();

        function LoadTable() {
            console.log("LoadTable");

            $.ajax({
                url: "/product_inventory/getproduct_inventory",
                type: "GET",
                success: function (data) {
                    console.log(data.data);
                    var table = $('#product_inventory_table').DataTable();
                    table.clear();
                    data.data.forEach(element => {
                        table.row.add([
                            element.pi_id,
                            element.pi_product_id,
                            element.pi_branch_id,
                            element.pi_quantity,
                            element.pi_unit,
                            `<span class="badge rounded-pill text-white ${element.pi_status === 'active' ? 'bg-success' : 'bg-danger'}">${element.pi_status}</span>`,
                            `<div class="d-flex justify-content-center align-items-center"><button type="button" class="mx-3 btn btn-success edit-btn" data-pi_id="${element.pi_id}" data-pi_product_id="${element.pi_product_id}" data-pi_branch_id="${element.pi_branch_id}" data-pi_quantity="${element.pi_quantity}" data-pi_unit="${element.pi_unit}" data-pi_status="${element.pi_status}"><i class="fas fa-fw fa-edit"></i></button></div>`,
                        ]);
                    });
                    table.draw();
                }
            });
        }

        $('#add_inventory').on('click', function () {
            $('#addProductModal').modal('show');
        });

        $(document).on('click', '#save_add', function () {
            $('#addProductModal').modal('hide');
            var addedInventoryData = {
                pi_product_id: $('#add_product_id').val(),
                pi_branch_id: $('#add_branch_id').val(),
                pi_quantity: $('#add_quantity').val(),
                pi_unit: $('#add_unit').val()
            };

            console.log('Added Inventory Data:', addedInventoryData);

            $.ajax({
                url: `/product_inventory/createproduct_inventory/`,
                type: 'POST',
                data: addedInventoryData,
                success: function (response) {
                    console.log('Inventory data added successfully:', response);
                    LoadTable();
                },
                error: function (err) {
                    console.error('Error inserting inventory data:', err);
                }
            });

            $('#addProductModal').modal('hide');
        });

        $('#save_edit').on('click', function () {
            $('#confirmEditModal').modal('show');
            $('#editProductModal').modal('hide');
        });

        $(document).on('click', '#confirmEditBtn', function () {
            $('#confirmEditModal').modal('hide');
            var editedInventoryData = {
                pi_id: $('#edit_inventory_id').val(),
                pi_product_id: $('#edit_product_id').val(),
                pi_branch_id: $('#edit_branch_id').val(),
                pi_quantity: $('#edit_quantity').val(),
                pi_unit: $('#edit_unit').val(),
                pi_status: $('#edit_status').val()
            };

            console.log('Edited Inventory Data:', editedInventoryData);

            $.ajax({
                url: `/product_inventory/updateproduct_inventory/`,
                type: 'PUT',
                data: editedInventoryData,
                success: function (response) {
                    console.log('Inventory data updated successfully:', response);
                    LoadTable();
                },
                error: function (err) {
                    console.error('Error updating inventory data:', err);
                }
            });

            $('#editInventoryModal').modal('hide');
        });

        $(document).on('click', '.edit-btn', function () {
            var inventoryData = $(this).data();
            $('#editProductModal').modal('show').on('shown.bs.modal', function () {
                $('#edit_inventory_id').val(inventoryData.pi_id);
                $('#edit_product_id').val(inventoryData.pi_product_id);
                $('#edit_branch_id').val(inventoryData.pi_branch_id);
                $('#edit_quantity').val(inventoryData.pi_quantity);
                $('#edit_unit').val(inventoryData.pi_unit);
                $('#edit_status').val(inventoryData.pi_status);
            });
        });
    });
</script>
